@media only screen and (max-width: 64em) {
    aside {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 200px;
        z-index: 2;
        transition: width 0.5s;
        background: #fff;

        
    }

    .aside--close {
    
        width: 70px;
    
        .aside__users {
    
    
            .aside-users__item {
    
                .item__profil-pic img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    
}