@media only screen and (min-width: 64.063em) {
    main {
        display: grid;
        grid-template-rows: 1fr 9fr 2fr;

        article {

            .messages__container {
                height: 100%;
                overflow-y: scroll;
            }
        
            .message__card {
                
                grid-template-columns: 1fr 11fr;

                .message__aside {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                
                .item__profil-pic img {
                    width: 32px;
                    height: 32px;
                }
        
                .message__main {
        
                    .message__main-header {
        
                        .message__sender {}
        
                        .message__time {}
        
                    }
        
                    .message__content {}
        
                }
        
            }
        
        }

    }
}