
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

// Colors
$colors: (primary: #0183DA, second: #04902f, white: #fff, black: #000);
$alertColorsByType: ( "success", #28a745) , ("danger", #dc3545), ("warning", #fd7e14), ("info", #007bff);

// Fonts
$oswald: 'Oswald', serif;
