@import '_variables.scss'; 

$darkeningPercentage: 20%;

.box-notifications {
    
    position: fixed;
    bottom: 0;
    right: 0;
    width: 33%;
    z-index: 1000;

    .notification{

        padding: 20px;
        margin-top: 5px;
        display: grid;
        grid-template-columns: 11fr 1fr;
        align-items: start;

        p { padding: 0 10px 0 0; }

        button { border: none; padding: 0;font-weight: bold; }
        button:hover {cursor: pointer;}
        
    }  

    @each $type, $color in $alertColorsByType {

        .notification[data-type=#{$type}] {
            
            background-color: $color;
            color: darken($color, $darkeningPercentage);

            button {
                background-color: darken($color, $darkeningPercentage);
                color: lighten($color, $darkeningPercentage);
            }

        }

    }
    
}